<div class="row">
    <%= form_with model: @shop, local: true do |form| %>
    <% if @shop.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@shop.errors.count, "error") %> prohibited
            this shop from being saved:
        </h2>
        <ul>
            <% @shop.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="form-group">
        <div class="col-xs-6" style="text-align:right;">
            <%= form.label :chain, 'Chaîne'%>
        </div>
        <div class="col-xs-6">
            <%= form.text_field :chain, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6" style="text-align:right;">
            <%= form.label :name, 'Nom' %>
        </div>
        <div class="col-xs-6">
            <%= form.text_field :name, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6" style="text-align:right;">
            <%= form.label :latitude %>
        </div>
        <div class="col-xs-6">
            <%= form.text_field :latitude, step: :any, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6" style="text-align:right;">
            <%= form.label :longitude %>
        </div>
        <div class="col-xs-6">
            <%= form.text_field :latitude, step: :any, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6" style="text-align:right;">
            <%= form.label :address, "Adresse" %>
        </div>
        <div class="col-xs-6">
            <%= form.text_field :address, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6" style="text-align:right;">
            <%= form.label :city, "Ville" %>
        </div>
        <div class="col-xs-6">
            <%= form.text_field :city, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6" style="text-align:right;">
            <%= form.label :zip, "Code postal" %>
        </div>
        <div class="col-xs-6">
            <%= form.text_field :zip, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6" style="text-align:right;">
            <%= form.label :phone, "Téléphone" %>
        </div>
        <div class="col-xs-6">
            <%= form.text_field :phone, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6" style="text-align:right;">
            <%= form.label :country_code, "Code pays" %>
        </div>
        <div class="col-xs-6">
            <%= form.text_field :country_code, :class=>"form-control" %>
        </div>
    </div>
</div>

<div style="margin-top:10px;">

    <%= form.submit 'Créer un magasin', :class => "btn btn-success" %>
    <%= link_to 'Retour', shops_url, :class => 'btn btn-primary' %>

</div>
<% end %>
