<div class="container-fluid">
<%= flash[:notice] %>
<h1 style="display:inline-block;">Tous les magasins</h1>
<%= link_to new_shop_path, :class => 'btn btn-success', :style => "display:inline-block;margin:10px;" do %>
    <span class="glyphicon glyphicon-plus"></span> Nouveau
<% end %>
<%= link_to 'Retour', root_url, :class => 'btn btn-primary' %>

<table class="table table-striped">
    <tr>
        <th>Chaîne</th>
        <th>Nom</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Code postal</th>
        <th>Téléphone</th>
        <th>Code pays</th>
        <th>Actions</th>
    </tr>

    <% @shops.each do |shop| %>
    <tr>
        <td><%= shop.chain %></td>
        <td><%= shop.name %></td>
        <td><%= shop.latitude %></td>
        <td><%= shop.longitude %></td>
        <td><%= shop.address %></td>
        <td><%= shop.city %></td>
        <td><%= shop.zip %></td>
        <td><%= shop.phone %></td>
        <td><%= shop.country_code %></td>
        <td class="text-nowrap">

            <%= link_to shop_path(shop), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-search"></span>
            <% end %>

            <%= link_to edit_shop_path(shop), :class => 'btn btn-warning' do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %>

            <%= link_to shop_path(shop), :class => 'btn btn-danger', method: :delete, data: { confirm: 'Êtes vous sûr?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>

</div>
