<div class="container text-center">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><%= @shop.name %></h3>
        </div>
        <div class="panel-body">
            Chaîne: <%= @shop.chain %><br>
            Latitude: <%= @shop.latitude %><br>
            Longitude: <%= @shop.longitude %><br>
            Adresse: <%= @shop.address %><br>
            Ville: <%= @shop.city %><br>
            Code postal: <%= @shop.zip %><br>
            Téléphone: <%= @shop.phone %><br>
            Code pays: <%= @shop.country_code %>
        </div>
    </div>

    <%= link_to 'Retour', root_url, :class => 'btn btn-primary' %>
    <%= link_to edit_shop_path(@shop), :class => 'btn btn-warning' do %>
    <span class="glyphicon glyphicon-pencil"></span> Modifier
    <% end %>

</div>
