
<div class="container text-center">
    <h1>Résultats de la recherche : <%= @critere %></h1>
    <%= link_to search_shops_index_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-search"></span> Autre recherche
    <% end %><br>
    <h3>Paramètres</h3>
    <% if defined?(@location) %> Lieu : <%= @location %><br> <%end%>
    <% if defined?(@distance) %>Distance : <%= @distance %> km<br><%end%>
    <% if (!params[:latitude].to_s.empty?) %>Latitude: <%= params[:latitude] %><br><%end%>
    <% if (!params[:longitude].to_s.empty?) %>Longitude : <%= params[:longitude] %><br><%end%>
    <% if defined?(@nombre) %>Nombre max résultats : <%= @nombre %><br><%end%>

    <h3>Résultats</h3>
    <div id="resultats" class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#1a" data-toggle="tab">Carte</a>
            </li>
            <li>
                <a href="#2a" data-toggle="tab">Liste</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a" style="border:solid 1px grey;">
                <div style='width: 800px; display:inline-block;'>
                    <div id="map" style='width: 800px; height: 400px;'></div>
                </div>
            </div>
            <div class="tab-pane" id="2a" style="border:solid 1px grey;">
                <% if @shops.length != 0 %>
                <table class="table table-striped">
                    <tr>
                        <th>Chaîne</th>
                        <th>Nom</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Code postal</th>
                        <th>Téléphone</th>
                        <th>Code pays</th>
                    </tr>

                    <% @shops.each do |shop| %>
                    <tr>
                        <td><%= shop.chain %></td>
                        <td><%= shop.name %></td>
                        <td><%= shop.latitude %></td>
                        <td><%= shop.longitude %></td>
                        <td><%= shop.address %></td>
                        <td><%= shop.city %></td>
                        <td><%= shop.zip %></td>
                        <td><%= shop.phone %></td>
                        <td><%= shop.country_code %></td>
                    </tr>
                    <% end %>
                </table>
                <% else %>
                <div> Aucun résultat trouvé </div>
                <% end %>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

});
</script>
