<div class="jumbotron">
    <div class="container text-center">
        <h1>Bienvenue sur Thomium</h1>
        <p>Vous pouvez gérer des magasins et chercher ceux près de vous</p>
        <%= link_to shops_path, :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-list"></span> Gestion
        <% end %>
        <%= link_to search_shops_index_path, :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-search"></span> Rechercher
        <% end %>
    </div>
</div>
