// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  min-height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
