<div class="jumbotron">
    <div class="container text-center">
        <h1>Formulaire de recherche</h1>

        <h2>Recherche par coordonnées</h2>
        <button class="btn btn-success" onclick="getLocation()"><span class="glyphicon glyphicon-screenshot"></span> Localisez moi</button>
        <%= form_tag results_shops_index_path, method: :get do %>
        <div class="form-group">
            <div class="col-xs-6" style="text-align:right;">
                <%= label :latitude, "Latitude : " %>
            </div>
            <div class="col-xs-6">
                <%= number_field_tag :latitude, params[:latitude], id: "latitude", :step => "any", :class=>"form-control"  %><br>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6" style="text-align:right;">
                <%= label :longitude, "Longitude : " %>
            </div>
            <div class="col-xs-6">
                <%= number_field_tag :longitude, params[:longitude], id: "longitude", :step => "any", :class=>"form-control"  %><br>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6" style="text-align:right;">
                <%= label :nombre, "Nombre de résultats : " %>
            </div>
            <div class="col-xs-6">
                <%= number_field_tag :nombre, params[:nombre], placeholder: "5 par défaut", :class=>"form-control"  %><br>
            </div>
        </div>

        <%= submit_tag "Rechercher", :class => 'btn btn-primary' %>
        <% end %>
        <h2>Recherche par lieu</h2>
        <%= form_tag results_shops_index_path, method: :get do %>
        <div class="form-group">
            <div class="col-xs-6" style="text-align:right;">
                <%= label :location, "Recherchez des magasins près de : " %>
            </div>
            <div class="col-xs-6">
                <%= text_field_tag :location, params[:location], id: "location", placeholder: "Ville, adresse...", :class=>"form-control"  %><br>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6" style="text-align:right;">
                <%= label :distance, "Dans un rayon de : " %>
            </div>
            <div class="col-xs-6">
                <%= number_field_tag :distance, params[:distance], placeholder: "10 km par défaut", :class=>"form-control"  %><br>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6" style="text-align:right;">
                <%= label :nombre, "Nombre de résultats : " %>
            </div>
            <div class="col-xs-6">
                <%= number_field_tag :nombre, params[:nombre], placeholder: "5 par défaut", :class=>"form-control"  %><br>
            </div>
        </div>

        <%= submit_tag "Rechercher", :class => 'btn btn-primary' %>
        <% end %>


    </div>
</div>
