<!DOCTYPE html>
<html>
  <head>
    <title>Magasins</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.google.com/maps/api/js?v=3.35&libraries=geometry&key=AIzaSyAvWjW7A7-OFiJ40BVvWx3jZd0hsCsZtwI" type="text/javascript"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
